.Rproj.user
.Rhistory
.RData
.Ruserdata
/Relazione tra affluenza e reddito
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_06_1950_1954.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_06_1955_1959.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_06_1960_1964.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_06_1965_1969.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_06_1970_1974.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_06_1975_1979.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_07_1950_1954.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_07_1955_1959.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_07_1960_1964.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_07_1965_1969.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_07_1970_1974.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_07_1975_1979.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_08_1950_1954.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_08_1955_1959.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_08_1960_1964.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_08_1965_1969.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_08_1970_1974.nc
Temperature Estate 2025 Italia/Dati/Old/ERA5L_T2m_Mean_Italy_08_1975_1979.nc
Temperature Estate 2025 Italia/.RDataTmp
Temperature Giugno Italia/Temperature Copernicus Giugno 1950-2025.R
Temperature Estate Italia/Output/all_data.csv
